---
import ProductCard from "./ProductCard.astro";
export interface Props {
  products: Array<{
    id: number;
    name: string;
    price: number;
    image: string;
    store: string;
  }>;
}
const { products } = Astro.props;
---

<div class="product-list">
  {products.map((product) => <ProductCard {...product} />)}
</div>
