---
import MainLayout from "../layouts/MainLayout.astro";
import StoreCard from "../components/StoreCard.astro";

const stores = [
  {
    id: 1,
    name: "Autopartes Juan",
    description: "Venta de autopartes variadas",
  },
  {
    id: 2,
    name: "Autopartes María",
    description: "Especialistas en sistemas de frenos",
  },
];
---

<MainLayout>
  <h1>Tiendas</h1>
  {stores.map((store) => <StoreCard {...store} />)}
</MainLayout>
